{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md max-w-xl w-full">
        <form method="POST" action="" class="grid grid-cols-2 gap-4">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-600">Fullname</label>
                <input type="text" name="fullname" class="mt-1 p-2 w-full border rounded-md">
            </div>

            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-600">Phone</label>
                <input type="text" name="phone" class="mt-1 p-2 w-full border rounded-md">
            </div>

            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-600">Age</label>
                <input type="number" name="age" class="mt-1 p-2 w-full border rounded-md">
            </div>

            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-600">Gender</label>
                <input type="text" name="gender" class="mt-1 p-2 w-full border rounded-md">
            </div>

            <div class="mb-4">
                <label for="choose" class="block text-sm font-medium text-gray-600">Your Provence</label>
                <select name="provence" id="choose" class="mt-1 p-2 w-full border rounded-md">
                    <option value="1">Kigali</option>
                    <option value="2">Northern Province</option>
                    <option value="3">Southern Province</option>
                    <option value="4">Eastern Province</option>
                    <option value="5">Western Province</option>
                </select>
            </div>

            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-600">FamilyMembers</label>
                <input type="number" name="familymembers" id="name" class="mt-1 p-2 w-full border rounded-md">
            </div>

            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md mx-auto">Register</button>
        </form>
    </div>
</body>

</html>
