<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div>
        <form method="POST" action="">
    
            <label>Fullname</label>
            <input type="text" name="name">
            <label>Age</label>
            <input type="age" name="age">
            <label>Gender</label>
            <input type="radio" name="gender" value="male">
            <label></label>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>